Flow3.py
[{"id":"980895aa.2914c8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"520a85fe.27caac","type":"inject","z":"980895aa.2914c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":130,"y":180,"wires":[["8f61349a.22d398"]]},{"id":"8f61349a.22d398","type":"function","z":"980895aa.2914c8","name":"payload","func":"msg.headers={\n    deviceKey:\"zGyzQBe0EnFUA3Ej\"\n    };\n    \nmsg.payload= \"Temperature,,26\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["d52a1cac.b0a3c"]]},{"id":"d52a1cac.b0a3c","type":"http request","z":"980895aa.2914c8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0k39k2H/datapoints.csv","tls":"","proxy":"","authType":"","x":460,"y":280,"wires":[["b8a94d96.82cff","9e8b9e32.eb718"]]},{"id":"b8a94d96.82cff","type":"http response","z":"980895aa.2914c8","name":"","statusCode":"","headers":{},"x":640,"y":280,"wires":[]},{"id":"9e8b9e32.eb718","type":"debug","z":"980895aa.2914c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":360,"wires":[]}]
