Flow2.py
[{"id":"785127ed.fd1df8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2372aaf7.ef1de6","type":"inject","z":"785127ed.fd1df8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["62ddace3.8fe2a4"]]},{"id":"62ddace3.8fe2a4","type":"function","z":"785127ed.fd1df8","name":"payload","func":"msg.headers={\n    deviceKey: \"zGyzQBe0EnFUA3Ej\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["b283ad76.be75"]]},{"id":"b283ad76.be75","type":"http request","z":"785127ed.fd1df8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0k39k2H/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":380,"y":340,"wires":[["d24c4d60.d2018","478911b8.8d08b"]]},{"id":"d24c4d60.d2018","type":"http response","z":"785127ed.fd1df8","name":"","statusCode":"","headers":{},"x":600,"y":340,"wires":[]},{"id":"478911b8.8d08b","type":"debug","z":"785127ed.fd1df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":460,"wires":[]}]
